<suite name ="inetbankig test" >
	<listeners>
		<listener class-name = "com.inetbanking.utilities.Reporting"/>
	</listeners>
	
	<test name ="login test with chrome">
		<parameter name ="Browser" value="chrome"/>
		<classes>
			<class name ="com.inetbanking.testcases.TC_LoginTest_001" /> 
		<!-- 	<class name = "com.inetbanking.testcases.TC_LoginTest_002" /> -->
			<class name ="com.inetbanking.testcases.TC_NewCustomerCreationTest_003" />
		</classes>
		
	</test>
	 <!-- 
	<test name ="login test with firefox">
		<parameter name ="Browser" value="firefox"/>
		<classes>
			<class name ="com.inetbanking.testcases.TC_LoginTest_001" />
		</classes>
		
	</test>
	
	<test name ="login test with edge">
		<parameter name ="Browser" value="edge"/>
		<classes>
			<class name ="com.inetbanking.testcases.TC_LoginTest_001" />
		</classes>
		
	</test>
	
	-->
</suite>